html {
  font-size: 62.5%;
}

body {
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.04em;
  line-height: 1.2;
}

.a11y {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -9999em;
  left: -9999em;
  display: block;
  text-indent: -9999em;
  font-size: 0px;
  line-height: 0;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 57.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}
