.upload {
  max-width: 70rem;
  margin: 0 auto;
}
.upload__container {
  position: relative;
}
.upload__drag-zone--over {
  border: 2px solid #000;
}

.upload__drag-zone {
  background: #f8f8f8;
  border: 1px dashed #ddd;
  border-radius: 1.6rem;
  height: 46.8rem;
  cursor: pointer;
  overflow: hidden;
}

.upload__drag-zone--active {
  border: 1px solid #ddd;
}

.upload__container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.upload__container input[type='file'] {
  display: none;
}
.upload__placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

.upload__placeholder-title {
  color: #333;
  margin-bottom: 0.875em;
}

.upload__placeholder-desc {
  color: #999;
}

.upload__reset-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  background: #fff;
  z-index: 2;
  border-radius: 9999px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
}
