.upload__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  border: 1px dashed #ddd;
  border-radius: 1.6rem;
  height: 46.8rem;
}

.upload__placeholder {
  text-align: center;
  padding: 1em;
}

.upload__placeholder-title {
  color: #333;
  margin-bottom: 0.875em;
}

.upload__placeholder-desc {
  color: #999;
}
